---
layout: default
page: true
order: 1
title: Projects
permalink: /projects
---

<section class="section">
    <h1>Projects</h1>

    <p>I take immense pride in the variety and quality of the work I produce and the projects I've contributed to. Below is a selection of the projects I'm most proud of.</p>

    {% include common/project-list.html data=site.projects %}
</section>

<section class="section">
    <h2 class="h1">Personal</h2>

    <p>Outside of work, I also love challenging myself and learning through small creative projects for fun. You can see a collection of these personal projects below.</p>

    {% assign personal = site.data.personal | sort: "order" %}
    {% include common/project-list.html data=personal external="true" horizontal="true"%}
</section>