<!-- start footer.html -->
<footer class="footer">
    <div class="container">
        <ul class="footer__social">
            {% for social in site.data.socials %}
                <li>
                    <a class="footer__social-item" href="{{social.href}}" data-tooltip="Find me on {{social.name}}">
                        <i class="{{social.icon}}"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <nav class="footer__navigation">
            {% assign sorted_pages = site.html_pages | sort:"order" | where: "page", "true" %}
            {% for node in sorted_pages %}
            <a class="nav-item" href="{{node.url}}">{{node.title}}</a>
            {% endfor %}
            <a class="nav-item button button--small button--stroke" href="mailto:samuel.barry.b@hotmail.com">Email me</a>
        </nav>

        <div class="footer__details">
            <div class="copyright">Copyright ©
                <script type="text/javascript"> var d = new Date(); document.write(d.getFullYear())</script>
                <span>Samuel Barnett</span>
            </div>
            <a href="https://github.com/damnsamn/samuelbar.net_2020">View this site on GitHub</a>
        </div>

    </div>
</footer>
<!-- end footer.html -->