<header class="header">

    <div class="container">
        <div class="header__logo">
            <a href="{{ "/" | relative_url }}">
                <img class="logo" alt="Sam Barnett Logo - Home" src="{{'/assets/images/logo.svg' | relative_url}}" height="50" width="118">
            </a>
        </div>

        <button class="header__hamburger" aria-haspopup="true" aria-expanded="false">
            <img src="{{'/assets/images/hamburger.svg' | relative_url}}" class="open" alt="">
            <img src="{{'/assets/images/close.svg' | relative_url}}" class="close" alt="">
            <span class="sr-only">Open menu</span>
        </button>
        <nav class="header__navigation">
            {% assign sorted_pages = site.html_pages | sort:"order" | where: "page", "true" %}
            {% for node in sorted_pages %}
            <a class="nav-item" href="{{node.url}}">{{node.title}}</a>
            {% endfor %}
            <a class="nav-item nav-item--right button button--small button--stroke" href="mailto:samuel.barry.b@hotmail.com">Email me</a>
        </nav>

    </div>
</header>
