html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    font-family: "Source Code Pro", $font-family-monospace;
    color: $color__text;
    background: $color--black;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    * {
        box-sizing: border-box;
    }

    @include bp-tablet-up {
        font-size: 16px;
    }
}

main.content {
    flex: 1 0 auto;
    position: relative;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url("/assets/images/border-dash.svg");
        width: 2px;
        height: 100%;
        top: 0;
    }

    &::before {
        right: calc(100% - #{$grid-gutter-width});
        @include bp-tablet-up {
            right: 100%;
        }
    }

    &::after {
        left: calc(100% - #{$grid-gutter-width});
        @include bp-tablet-up {
            left: 100%;
        }
    }
}

p {
    margin: 1.5em 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

::selection {
    color: $color--black;
    background-color: #ffd600;
}

h1,
.h1 {
    @include h1;
}
h2,
.h2 {
    @include h2;
}
h3,
.h3 {
    @include h3;
}
h4,
.h4 {
    @include h4;
}
h5,
.h5 {
    @include h5;
}
h6,
.h6 {
    @include h6;
}

body.user-is-tabbing {
    :focus {
        outline: 2px dashed;
        outline-offset: 2px;
    }
}

ul {
    > * + * {
        margin-top: 0.33em;
    }
}

code {
    padding: 0 0.25em;
    background-color: $color--dark-white;
    color: $color__text--dark;
}

em {
    font-style: normal;
    font-weight: $font-weight--bold;
}

a {
    color: $color__text--dark;
    text-decoration: none;
    border-bottom: 1px dashed;
}

img {
    max-width: 100%;
}