html,
body {
    margin: 0;
    padding: 0;
    // min-height: 100vh;
    // overflow-x: hidden;
}
html {
    // overflow-y: auto;

    &.faded body {
        overflow: hidden;
        &::after {
            opacity: 0.8;
            pointer-events: all;
        }
    }
}

body {
    font-family: "Source Code Pro", $font-family-monospace;
    color: $color__text;
    background: $color--black;
    position: relative;
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    * {
        box-sizing: border-box;
    }

    @include bp-tablet-up {
        font-size: rem(16px);
    }

    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: $color--black;
        opacity: 0;
        pointer-events: none;
        transition: $transition--medium;
    }
}

main.content {
    flex: 1 0 auto;
    position: relative;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url("../images/border-dash.svg");
        width: 2px;
        height: 100%;
        top: 0;
    }

    &::before {
        @include media-breakpoint-down(sm) {
            left: $grid-gutter-width/2;
        }
        @include media-breakpoint-up(sm) {
            right: 100%;
        }
    }

    &::after {
        @include media-breakpoint-down(sm) {
            right: $grid-gutter-width/2;
        }
        @include media-breakpoint-up(sm) {
            left: 100%;
        }
    }
}

p {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

::selection {
    color: $color--black;
    background-color: #ffd600;
}

h1,
.h1 {
    @include h1;
}
h2,
.h2 {
    @include h2;
}
h3,
.h3 {
    @include h3;
}
h4,
.h4 {
    @include h4;
}
h5,
.h5 {
    @include h5;
}
h6,
.h6 {
    @include h6;
}

body.user-is-tabbing {
    :focus {
        outline: 2px dashed;
        outline-offset: 2px;
    }
}

ul {
    > * + * {
        margin-top: 0.33em;
    }
}

pre.highlight {
    background-color: $color--dark-white;
    padding: 0.5em;
    border-radius: $border-radius--medium;
    overflow-x: auto;
    > code {
        padding: 0;
    }
}

code {
    font-family: inherit;
    font-size: 1em;
    padding: 0 0.25em;
    background-color: $color--dark-white;
    color: $color__text--dark;
    white-space: nowrap;
}

em {
    font-style: normal;
    font-weight: $font-weight--bold;
}

a {
    color: $color__text--dark;
    text-decoration: none;
    border-bottom: 1px dashed;

    @include hover-focus {
        color: $color__text;
        border-bottom-style: solid;
    }
}

img {
    max-width: 100%;
}

:focus-visible {
    outline: none;
}
