@mixin component-margin($direction, $mult: 1) {
    margin-#{$direction}: $spacer--128 * $mult;
    @include bp-tablet-down {
        margin-#{$direction}: $spacer--96 * $mult;
    }
    @include bp-mobile-down {
        margin-#{$direction}: $spacer--64 * $mult;
    }
}

@mixin component-padding($direction, $mult: 1) {
    padding-#{$direction}: $spacer--128 * $mult;
    @include bp-tablet-down {
        padding-#{$direction}: $spacer--96 * $mult;
    }
    @include bp-mobile-down {
        padding-#{$direction}: $spacer--64 * $mult;
    }
}

@mixin section-margin($direction, $mult: 1) {
    margin-#{$direction}: $spacer--64 * $mult;
    @include bp-tablet-down {
        margin-#{$direction}: $spacer--48 * $mult;
    }
}
@mixin section-padding($direction, $mult: 1) {
    padding-#{$direction}: $spacer--64 * $mult;
    @include bp-tablet-down {
        padding-#{$direction}: $spacer--48 * $mult;
    }
}

@mixin unstyle-link {
    color: inherit;
    border: 0 none;
    text-decoration: none;
}

// Apply a pseudo-element background
@mixin pseudo-background($color) {
    position: relative;
    &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        background: $color;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

// Apply a pseudo-element border, with a negative margin offset
@mixin pseudo-border(
    $style,
    $color,
    $radius: 0,
    $offsetT: 0,
    $offsetR: $offsetT,
    $offsetB: $offsetT,
    $offsetL: $offsetR
) {
    position: relative;
    &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        color: $color;
        border: $style;
        border-radius: $radius;
        left: -$offsetL;
        right: -$offsetR;
        top: -$offsetT;
        bottom: -$offsetB;
        z-index: 0;
    }
}

// Child will be scaled & cropped to cover area
@mixin child-cover() {
    position: relative;

    > img,
    > video,
    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin aspect-ratio($x, $y, $height: null) {
    // Variable-height by default.
    // If a set height with variable width is required, set the $height variable.
    @include child-cover();

    @if not $height {
        padding-bottom: 100% / $x * $y;
    } @else {
        height: $height;
        width: calc(#{$height} / #{$x} * #{$y});
    }
}

// Pass a px value as the argument, return its appropriate rem value relative to 16px default
// Use rem values for WCAG, which will scale nicely with browser/OS-set default font sizes.
@function rem($px-value) {
    $rem: 16px;
    @return ($px-value/$rem) * 1rem;
}

// Multiply a value normalised to 1rem instead of 0.
// (100px, 0) == 16px
// (100px, 0.5) == 58px
// (100px, 1) == 100px
@function normalise-to-1rem($value, $multiplier) {
    @return calc(((#{$value} - 1rem) * #{$multiplier}) + 1rem);
}

// Resize font responsively by a factor of 1rem.
// This mixin will scale down the $size by certain factors per breakpoint.
// Take difference between $size and $rem, divide that by value
@mixin responsive-font-size($size) {

    font-size: normalise-to-1rem($size, 0.375);

    @include bp-tablet-up {
        font-size: normalise-to-1rem($size, 0.5);
    }

    @include bp-laptop-up {
        font-size: normalise-to-1rem($size, 0.66);
    }
    @include bp-desktop-up {
        font-size: $size !important;
    }
}

@mixin hover-focus {
    &:hover,
    &:focus {
        @content;
    }
}

@mixin card-style($hoverable: false) {
    background: $color--darker-white;
    border: 1px solid $color--dark-white;
    border-radius: $border-radius--medium;

    @include bp-mobile-down {
        border-color: rgba($color--white, 0.2);
    }

    @if ($hoverable == true) {
        cursor: pointer;
        transition: $transition--short;

        &:hover,
        &:focus-within {
            background: $color--dark-white;
        }
    }
}

// Headings
// Type scale: Major Third
@mixin heading {
    font-weight: $font-weight--bold;
    line-height: 1.15;
    margin: 1em 0 0.5em;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
@mixin h1 {
    @include heading;
    @include responsive-font-size(3.052rem);
}
@mixin h2 {
    @include heading;
    @include responsive-font-size(2.441rem);
}
@mixin h3 {
    @include heading;
    @include responsive-font-size(1.953rem);
}
@mixin h4 {
    @include heading;
    @include responsive-font-size(1.563rem);
}
@mixin h5 {
    @include heading;
    @include responsive-font-size(1.25rem);
}
@mixin h6 {
    @include heading;
    @include responsive-font-size(1rem);
}

/***** RESPONSIVE HELPERS *****/

// Shortened bootstrap mixins for our set device-breakpoints

@mixin bp-mobile-up() {
    @include media-breakpoint-up($bp--mobile) {
        @content;
    }
}

@mixin bp-mobile-down() {
    @include media-breakpoint-down($bp--mobile) {
        @content;
    }
}
@mixin bp-tablet-up() {
    @include media-breakpoint-up($bp--tablet) {
        @content;
    }
}
@mixin bp-tablet-down() {
    @include media-breakpoint-down($bp--tablet) {
        @content;
    }
}
@mixin bp-laptop-up() {
    @include media-breakpoint-up($bp--laptop) {
        @content;
    }
}
@mixin bp-laptop-down() {
    @include media-breakpoint-down($bp--laptop) {
        @content;
    }
}
@mixin bp-desktop-up() {
    @include media-breakpoint-up($bp--desktop) {
        @content;
    }
}
@mixin bp-desktop-down() {
    @include media-breakpoint-down($bp--desktop) {
        @content;
    }
}

// Quicker way to selectively display-none for devices
@mixin mobile-hidden() {
    @include bp-mobile-down {
        display: none;
    }
}

@mixin mobile-only() {
    @include bp-tablet-up {
        display: none;
    }
}
