$color--black: #0f0c0b;
$color--white: #f4efe9;
$color--dark-white: #272523;
$color--darker-white: #161513;
$color--medium-white: #bcb6af;

$color--light-red: #ffcaca;
$color--dark-red: #221414;
$color--light-green: #ceffca;
$color--dark-green: #151a14;
$color--light-blue: #afe7ff;
$color--dark-blue: #14191b;

$color__text: $color--white;
$color__text--dark: $color--medium-white;

$height__header--desktop: 120px;
$height__header--mobile: 80px;

$spacer--8: 8px;
$spacer--12: 12px;
$spacer--16: 16px;
$spacer--24: 24px;
$spacer--32: 32px;
$spacer--48: 48px;
$spacer--64: 64px;
$spacer--96: 96px;
$spacer--128: 128px;

$border-radius--small: 2px;
$border-radius--medium: 5px;

$font-weight--regular: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;

$transition--medium: 0.2s ease-in-out;
$transition--short: 0.1s ease-in-out;

// Breakpoints
$bp--mobile: "md";
$bp--tablet: "lg";
$bp--laptop: "xl";
$bp--desktop: "xxl";
