<ul class="project-list row">
    {% for project in include.data %}
    <li class="col-12 col-lg-6">
        <div class="project-list__item" data-click=".project-list__link">
            {% if project.thumb %}
            <div class="project-list__image">
                <img src="{{project.thumb | relative_url}}" alt="" height="200">
            </div>
            {% endif %}
            <div class="project-list__body">
                <div class="project-list__header">
                    <a class="project-list__link" href="{{ project.url | relative_url }}">{{project.title}}</a>
                    {%if include.external%}<i class="fas fa-external-link-alt"></i>{%endif%}
                </div>
                <div class="project-list__description">{{project.description}}</div>
            </div>

        </div>
    </li>
    {% endfor %}
</ul>