<div class="skills">
    <h2>Skills</h2>

    <p>Below is a non-exhaustive list of some of the skills and technologies I’ve picked up over the years, between graphic design, UX, and web development.</p>

    <ul class="skills__list">
        {% for skill in site.data.skills %}
        <li class="skills__item">
            <a href="{{skill.href}}" data-tooltip="{{skill.name}}">
                <span class="sr-only">{{skill.name}}</span>
                <img src="{{skill.src}}" alt="Visit the {{skill.name}} website">
            </a>
        </li>
        {% endfor %}
    </ul>
</div>