.button {
    @include unstyle-link;
    display: inline;
    font-size: 18px;
    padding: calc(1em - 10px) 1em;
    font-weight: $font-weight--bold;
    color: $color--black;
    background: $color--white;
    text-decoration: none;
    line-height: 1.27;
    transition: $transition-short;
    &:not(.button--stroke) {
        outline-color: $color--white !important;
    }
    &--stroke {
        background: none;
        color: $color--white;

        position: relative;
        @include pseudo-border(2px solid, inherit);

        @include hover-focus {
            background: $color--dark-white;
        }
    }

    &--small {
        font-size: 16px;
    }

    &--red {
        &:not([class*="button--stroke"]) {
            background-color: $color--light-red;
        }
        &[class*="button--stroke"] {
            color: $color--light-red;

            @include hover-focus {
                background: $color--dark-red;
            }
        }
        &:not(.button--stroke) {
            outline-color: $color--light-red !important;
        }
    }

    &--blue {
        &:not([class*="button--stroke"]) {
            background-color: $color--light-blue;
        }
        &[class*="button--stroke"] {
            color: $color--light-blue;

            @include hover-focus {
                background: $color--dark-blue;
            }
        }
        &:not(.button--stroke) {
            outline-color: $color--light-blue !important;
        }
    }

    &--green {
        &:not([class*="button--stroke"]) {
            background-color: $color--light-green;
        }
        &[class*="button--stroke"] {
            color: $color--light-green;

            @include hover-focus {
                background: $color--dark-green;
            }
        }
        &:not(.button--stroke) {
            outline-color: $color--light-green !important;
        }
    }
}
