.button {
    @include unstyle-link;
    display: inline;
    font-size: rem(18px);
    padding: calc(1em - 10px) 1em calc(1em - 8px);
    border-radius: $border-radius--small;
    font-weight: $font-weight--bold;
    color: $color--black;
    background: $color--white;
    text-decoration: none;
    line-height: 1.27;
    transition: $transition--short;
    position: relative;
    bottom: 0;

    &:not(.button--stroke) {
        outline-color: $color--white !important;
    }

    &::before,
    &::after {
        transition: inherit;
        pointer-events: bounding-box !important;
    }

    &:not(&--stroke) {
        @include pseudo-border(2px solid, $color--white, $border-radius--small, 0);
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0;
            border-radius: 0 0 100px 100px;
            background-color: $color--dark-white;
        }

        @include hover-focus {
            bottom: 2px;
            &::before {
                bottom: -2px;
            }
            &::after {
                height: 4px;
            }
        }
    }

    &--stroke {
        background: none;
        color: $color--white;
        @include pseudo-border(2px solid, inherit, $border-radius--small);
        &::before {
            border-bottom-width: 4px;
        }

        @include hover-focus {
            bottom: 2px;
            background: inherit;
            &::before {
                border-bottom-width: 6px;
                bottom: -2px;
            }
        }
    }

    &--small {
        font-size: rem(16px);
    }

    &--red {
        &:not([class*="button--stroke"]) {
            background-color: $color--light-red;
            &::before {
                border-color: $color--light-red;
            }
            &::after {
                background-color: $color--dark-red;
            }
        }
        &[class*="button--stroke"] {
            color: $color--light-red;

            @include hover-focus {
                background: $color--dark-red;
            }
        }
        &:not(.button--stroke) {
            outline-color: $color--light-red !important;
        }
    }

    &--blue {
        &:not([class*="button--stroke"]) {
            background-color: $color--light-blue;
            &::before {
                border-color: $color--light-blue;
            }
            &::after {
                background-color: $color--dark-blue;
            }
        }
        &[class*="button--stroke"] {
            color: $color--light-blue;

            @include hover-focus {
                background: $color--dark-blue;
            }
        }
        &:not(.button--stroke) {
            outline-color: $color--light-blue !important;
        }
    }

    &--green {
        &:not([class*="button--stroke"]) {
            background-color: $color--light-green;
            &::before {
                border-color: $color--light-green;
            }
            &::after {
                background-color: $color--dark-green;
            }
        }
        &[class*="button--stroke"] {
            color: $color--light-green;

            @include hover-focus {
                background: $color--dark-green;
            }
        }
        &:not(.button--stroke) {
            outline-color: $color--light-green !important;
        }
    }
}
