.cta {
    @include component-margin(top);
    @include component-margin(bottom);
    margin-left: -$spacer--32;
    margin-right: -$spacer--32;
    justify-content: center;

    @include bp-tablet-down {
        margin-left: -$spacer--24;
        margin-right: -$spacer--24;
    }

    @include bp-mobile-down {
        margin-left: -$spacer--16;
        margin-right: -$spacer--16;
    }

    &__inner {
        border: 1px solid $color--white;
        background-color: $color--dark-white;
        padding: $spacer--32;

        @include bp-tablet-down {
            padding: $spacer--24;
        }

        @include bp-mobile-down {
            padding: $spacer--16;
        }
    }

    &__label {
        margin: 0 0 $spacer--12 0;

        @include bp-mobile-down {
            margin: 0 0 $spacer--8 0;
        }
    }

    &__heading {
        margin: 0 0 $spacer--32 0;

        @include bp-mobile-down {
            margin: 0 0 $spacer--24 0;
        }
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin-top: $spacer--24;

        > * {
            margin: $spacer--8;
        }
    }

    &--red {
        .cta__inner {
            color: $color--light-red;
            border-color: $color--light-red;
            background-color: $color--dark-red;
        }
    }

    &--green {
        .cta__inner {
            color: $color--light-green;
            border-color: $color--light-green;
            background-color: $color--dark-green;
        }
    }

    &--blue {
        .cta__inner {
            color: $color--light-blue;
            border-color: $color--light-blue;
            background-color: $color--dark-blue;
        }
    }
}
