.footer {
    position: relative;
    padding: $spacer--32 0;
    font-size: rem(16px);

    &::before {
        content: "";
        display: block;
        position: absolute;
        background: $color--white;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 2px;
    }

    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include bp-mobile-down {
            flex-direction: column;
        }
    }

    &__social {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: (-$spacer--8/2) (-$spacer--8/2) ($spacer--8);

        > li {
            margin: 0;
            padding: $spacer--8/2;
        }

        &-item {
            display: inline-block;
            color: $color--white;
            padding: $spacer--8;
            font-size: rem(26px);
            border: none;
            line-height: 1;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        @include bp-mobile-down {
            flex-direction: column;
            text-align: center;

            .nav-item+.nav-item {
                margin-left: 0;
                margin-top: 1em;
            }
        }
        .nav-item {
            font-size: inherit;
        }
    }

    &__details {
        text-align: right;
        justify-content: flex-end;
        margin: $spacer--32 0 0 0;

        @include bp-mobile-down {
            text-align: center;
            align-self: center;
        }
        @include bp-mobile-up {
            margin: 0 0 0 auto;
        }
    }
}
