.header {
    height: $height__header--mobile;
    position: relative;

    @include bp-tablet-up {
        height: $height__header--desktop;
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        background: $color--white;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
    }

    > .container {
        position: relative;
        display: flex;
        height: 100%;
    }

    &__logo {
        position: relative;
        display: inline-block;
        display: flex;
        align-items: center;

        @include bp-tablet-down {
            margin-left: $grid-gutter-width/2;
        }

        &::before {
            content: "";
            display: block;
            background: $color--white;

            position: absolute;
            right: 0;
            left: -50vw;
            top: -50vh;
            bottom: 0;
        }

        a {
            @include unstyle-link;
            z-index: 1;
            display: inline-block;
            margin-right: $spacer--32;
            color: $color--black;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        margin-left: $spacer--48;
        align-self: center;
    }
}
