.image {
    text-align: center;
    margin: 0.5em 0;
    line-height: 0;

    &__img {
        width: 100%;
        height: auto;
        border-radius: 3px;
        border: 1px solid $color--dark-white;
    }

    &__caption {
        @include responsive-font-size(rem(12px));
        font-weight: $font-weight--bold;
        color: $color__text--dark;
        padding: 0.25em 0.5em 0 0.75em;
    }
}