.nav-item {
    @include unstyle-link;
    display: inline-block;
    color: $color--white;
    text-decoration: none;
    font-weight: $font-weight--bold;
    font-size: 18px;

    & + & {
        margin-left: 1.5em;
    }
}
