.project-list {
    $block: #{&};
    padding: 0;
    margin: 0 (-$spacer--16) (-$spacer--32) (-$spacer--16);
    @include section-margin(top, 0.5);

    > li {
        display: flex;
        list-style: none;
        padding: 0 $spacer--16 $spacer--32 $spacer--16;
    }

    &__item {
        overflow: hidden;
        width: 100%;
        @include card-style(true);
    }

    &__image {
        overflow: hidden;
        @include aspect-ratio(16, 9);
        img {
            transition: 0.2s ease-in-out;
        }
    }

    &__body {
        font-size: 14px;
        padding: $spacer--16;
        > * + * {
            margin-top: $spacer--16;
        }

        @include bp-tablet-up {
            padding: $spacer--24;
        }
    }

    &__header {
        display: flex;
    }

    &__external-icon {
        margin-left: 1em;
    }

    &__link {
        @include unstyle-link;
        @include h5;
        line-height: 1.33;
        flex: 1 1 auto;
        margin: 0;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2.5px;
        margin-right: -2.5px;
        margin-bottom: -2.5px;
        margin-top: $spacer--16 - 2.5px;
        .tag {
            margin: 2.5px;
        }
    }
}
