.project-list {
    padding: 0;
    margin: 0 (-$spacer--16) (-$spacer--32) (-$spacer--16);
    @include section-margin(top,0.5);

    [class*="col"] {
        display: flex;
        list-style: none;
        padding: 0 $spacer--16 $spacer--32 $spacer--16;
    }

    &__item {
        background: $color--dark-white;
        cursor: pointer;
        width: 100%;

        // &:hover, &:focus-within {
        //     .project-list__image img {
        //         transform: scale(1.05);
        //     }
        // }
    }

    &__image {
        overflow: hidden;
        @include aspect-ratio(3, 2);
        img {
            transition: 0.2s ease-in-out;
        }
    }

    &__body {
        padding: $spacer--24;
        & + & {
            margin-top: $spacer--24;
        }

        @include bp-tablet-up {
            padding: $spacer--32;
            & + & {
                margin-top: $spacer--32;
            }
        }
    }

    &__header {
        display: flex;
    }

    &__link {
        @include unstyle-link;
        @include h5;
        line-height: 1.33;
        flex: 1 1 auto;
    }
}
