.skills {
    @include component-margin(top);
    @include component-margin(bottom);

    &__list {
        @include list-unstyled;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: $spacer--24;
        margin: -$grid-gutter-width/2;
        @include bp-desktop-up {
            margin: -$grid-gutter-width;
        }
    }

    &__item {
        margin: 0;
        padding: $grid-gutter-width/2;
        @include bp-desktop-up {
            padding: $grid-gutter-width;
        }
        a {
            @include unstyle-link;
            color: $color--white;
            display: inline-block;
            line-height: 0;
        }
        img {
            width: auto;
            height: 50px;
            @include bp-mobile-up {
                height: 65px;
            }
            @include bp-tablet-up {
                height: 80px;
            }
            @include bp-desktop-up {
                height: 90px;
            }
        }
    }
}
