.snippet-list {
    padding: 0;
    @include section-margin(top, 0.5);

    &__item {
        padding: $spacer--32;
        background: $color--darker-white;
        list-style: none;
        cursor: pointer;
        transition: $transition-short;
        border: 1px solid $color--dark-white;

        & + & {
            margin-top: $spacer--32;
        }

        @include bp-tablet-down {
            padding: $spacer--24;
            & + & {
                margin-top: $spacer--24;
            }
        }

        &:hover, &:focus-within {
            background: $color--dark-white;
        }
    }

    &__link {
        @include unstyle-link;
        @include h4;
    }

    &__description {
        margin: $spacer--16 0;
    }

    &__tags {
        display: flex;
        justify-content: flex-end;
        margin: -$spacer--8;

        .tag {
            margin: $spacer--8;
        }
    }
}
