.snippet {
    .gist {
        margin: 1.5em 0;
    }

    &__details {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: -$spacer--8 0;

        > * {
            margin: $spacer--8 0;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        .tag + .tag {
            margin-left: $spacer--16;
        }
        @include bp-tablet-up {
            margin-right: $spacer--24;
        }
    }

    &__date {
        font-size: 14px;
        opacity: 0;
        transition: 0.5s ease;
        &.set {
            opacity: 1;
        }
        &.saved {
            transition: none;
            opacity: 1;
        }
        span {
            margin-left: 1em;
        }
    }

    &__body {
        @include section-margin(top);
    }
}
