.snippet-list {
    padding: 0;
    @include section-margin(top, 0.5);

    &__item {
        padding: $spacer--24;
        list-style: none;
        overflow: hidden;
        @include card-style(true);

        & + & {
            margin-top: $spacer--24;
        }
    }

    &__link {
        @include unstyle-link;
        @include h4;
    }

    &__description {
        margin: $spacer--16 0;
    }

    &__tags {
        display: flex;
        justify-content: flex-end;
        margin: -$spacer--8;

        .tag {
            margin: $spacer--8;
        }
    }
}
