<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

    {% include head.html %}

    <body>
        {% include header.html %}

        <main class="content container" aria-label="Content">
            <div class="project row">
                <div class="content-column">
                    <h1>{{page.title}}</h1>

                    <div class="project__details">
                        <div class="snippet__tags">
                        </div>
                    </div>
                    <div class="project__body">

                        {{ content }}

                    </div>
                </div>
            </div>

        </main>

        {% include footer.html %}

        {% include scripts.html %}

    </body>

</html>