<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

    {% include head.html %}

    <body>
        {% include header.html %}

        <main class="content container" aria-label="Content">
            <div class="row">
                <div class="content-column">
                    <div class="content__details">
                        <h1 class="content__heading">{{page.title}}</h1>
                        {% if page.client and page.client != page.title %}
                        <div class="content__client">{{page.client}}</div>
                        {% endif %}
                        {% if page.desc %}
                        <div class="content__description">{{page.desc}}</div>
                        {% endif %}
                        {% if page.tags or page.technologies %}
                        <div class="content__meta">
                            {% if page.tags %}
                            <div class="content__taglist">
                                <div class="content__label">Skillsets:</div>
                                <div class="content__tags">
                                    {% for tag in page.tags %}
                                    {% include common/tag.html name=tag %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% if page.technologies %}
                            <div class="content__taglist">
                                <div class="content__label">Technologies:</div>
                                <div class="content__tags">
                                    {% for tag in page.technologies %}
                                    {% include common/tag.html name=tag %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% if page.external %}
                        <a href="{{page.external}}" class="content__button button button--stroke ms-auto">Visit Project</a>
                        {% endif %}

                    </div>
                    <div class="content__body">

                        {{ content }}

                    </div>
                </div>
            </div>

        </main>

        {% include footer.html %}

        {% include scripts.html %}

    </body>

</html>