<!DOCTYPE html>
<html lang="{{ site.lang | default: page.lang | default: 'en' }}">

    {% include head.html %}

    <body>
        {% include header.html %}

        <main class="content container" aria-label="Content">
            <div class="snippet row">
                <div class="content-column">
                    <h1>{{page.title}}</h1>

                    <div class="snippet__details">
                        <div class="snippet__tags">
                            {% for tag in page.tags %}
                            <div class="tag tag__{{tag}}">{{tag}}</div>
                            {% endfor %}
                        </div>

                        <div class="snippet__date">Last updated: <span>DD MMM YYYY</span></div>
                    </div>
                    <div class="snippet__body">

                        {{ content }}

                    </div>
                </div>
            </div>

        </main>

        {% include footer.html %}

        {% include scripts.html %}

    </body>

</html>